<!-- Begin Page Content -->
<!-- Content Row -->
<!-- <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Incidentes abiertos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalIncidenteAbiertos }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Mis Incidentes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{misIncidentes}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Divider -->
<hr class="sidebar-divider">
<h2>Sistema de Gestión de Incidentes</h2>
<p class="mb-4 ml-1"> <strong class="font-weight-bold text-primary  mb-1">¡Bienvenido!</strong> este programa le permite gestionar todos los incidentes que existan en su empresa, va desde los diferentes incidentes que existan en un determinando departamento, con su respectiva
    prioridad, el empleado que lo trabaja y su respectivo progreso, etc. Esta aplicacion para lograr ese cometido cuenta con 2 módulos principales hasta el momento, los cuales son:
</p>
<!-- Content Row -->
<div class="row">

    <div class="col-lg-6 mb-4">

        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mantenimiento</h6>
            </div>
            <div class="card-body">
                <p>Este módulo nos permite manejar los diferentes diferentes mantenimientos en el sistema, tanto de Usuario, Departamentos, Puestos, etc.</p>
                <p class="mb-0">Estos mantenimientos nos ayudan a poder configurar mejor cada uno de los registros del sistema, por medio de la creacion, actualizacion y caso de ser necesario el borrado de los mismos.</p>
            </div>
        </div>


    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Incidentes</h6>
            </div>
            <div class="card-body">
                <p>Este módulo contiene los procesos centrales del sistema, basicamente aqui se configuran y se procesan los distintos incidentes dentro de la empresa.</p>
                <p class="mb-0">Estos mantenimientos van desde la solicitud del incidente, la asignación y el cierre del mismo, entre otros mantenimientos cuyo objetivo es el majeno adecuado de los diferentes procesos que estos abarcan.</p>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->